language: scala
scala:
- 2.12.2
jdk:
- oraclejdk8
sudo: false
addons:
  apt:
    packages:
    - graphviz
install:
- pip install --user codecov
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"
script:
- sbt ++$TRAVIS_SCALA_VERSION validate
after_success:
- codecov
deploy:
  provider: pages
  local_dir: ./modules/gui/js/target/scala-2.12/
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
